* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Helvetica", "Helvetica Neue", sans-serif;
    letter-spacing: 0.056rem;
}

.container {
    width: 100%;
    padding: 15px;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    line-height: 1.4em;
}

.comments-block {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}

.comment-block {
    width: calc(25% - 11.25px);
    padding: 15px;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

h2 {
    font-size: 1em;
    margin: 10px 0;
}

.comment-block p {
    font-size: .9em;
}

.comment-from {
    color: dimgrey;
    font-size: .8em;
}


